---
import BaseLayout from '../../layouts/base.astro';
import Seo from '../../components/content/seo.astro'
import AppConfig from '../../components/config.js'
import PageTitleSubpage from '../../components/content/page-title/page-title-subpage.astro';
import PosterFull from '../../components/content/global/global-poster-full.astro';
import PosterLargeVideo from '../../components/content/poster/poster-large-video.astro';
import Text from '../../components/content/global/global-text.astro';
import TextCenter from '../../components/content/global/global-text-center.astro';
import TextImage from '../../components/content/global/global-text-image.astro';
import SectionTitle from '../../components/content/section-title/section-title.astro';
import ProjectTeaser from '../../components/content/project/project-teaser.astro';
import ProjectAttributes from '../../components/content/project/project-attributes.astro';
import GlobalContact from '../../components/content/global/global-contact.astro';
import LogoBoard from '../../components/content/logo-board/logo-board.astro';

---
<BaseLayout>
  <Seo slot="seo" pageTitle="Website & Online Shop für Helikopter-Charter">
    <meta
      content="Für Mountain Flyers wurde eine einfach verwaltbare Website und ein Online Shop mit Print-at-Home Funktion auf Basis von Neos und Sylius entwickelt."
      name="description">
    <meta content="ux,ui,entwicklung,development,website,online shop,e-commerce,neos,sylius" name="keywords">
    <meta content="summary" name="twitter:card">
    <meta content="Website & Online Shop für Helikopter-Charter" name="twitter:title">
    <meta
      content="Für Mountain Flyers wurde eine einfach verwaltbare Website und ein Online Shop mit Print-at-Home Funktion auf Basis von Neos und Sylius entwickelt."
      name="twitter:description">
    <meta content={ new URL(Astro.url.pathname, Astro.site) } name="twitter:url">
    <meta
      content={ AppConfig.siteBaseUrl + '/assets/logo/comvation_logo_social_media_square.jpg' }
      name="twitter:image">
    <meta content="website" property="og:type">
    <meta content="Website & Online Shop für Helikopter-Charter" property="og:title">
    <meta content="Website & Online Shop für Helikopter-Charter" property="og:site_name">
    <meta content="de" property="og:locale">
    <meta
      content="Für Mountain Flyers wurde eine einfach verwaltbare Website und ein Online Shop mit Print-at-Home Funktion auf Basis von Neos und Sylius entwickelt."
      property="og:description">
    <meta content={ new URL(Astro.url.pathname, Astro.site) } property="og:url">
    <meta
      content={ AppConfig.siteBaseUrl + '/assets/logo/comvation_logo_social_media_landscape.jpg' }
      property="og:image">
  </Seo>
  <PageTitleSubpage title="Website & Online Shop für Helikopter-Charter" breadcrumbTitle="Projekte" breadcrumbUrl="/projekte"/>
  <ProjectAttributes customer="Mountain Flyers Ltd." services="Konzept & Beratung, Website, Online Shop, UX- & UI-Design, Neos, Sylius" published="2022" />
  <PosterFull imageSrc="/assets/use-cases/mountain-flyers/poster_desktop_1.jpg" imageAlt="alt" imageTitle="title" />
  <section class="py-6">
      <div class="container-xxl">
        <TextCenter>
          <p>Der Wunsch war eine moderne und einfach verwaltbare Website und eine losgelöste E-Commerce-Lösung mit Print-at-Home Funktion für Gutscheine. Diesem Wunsch kamen wir mit der Grundlage in Form von Neos als CMS und Sylius als E-Commerce-Lösung nach.</p>
        </TextCenter>
      </div>
  </section>
  <PosterLargeVideo videoSrc="/assets/use-cases/mountain-flyers/animation_2.mp4"  posterSrc="/assets/use-cases/mountain-flyers/animation_poster.jpg" />
  <section class="py-5">
    <div class="container-xxl">
      <TextImage imageTitle="Title" imageAlt="alt" imageSrc="use-cases/mountain-flyers/screenshot_intros_3.jpg">
        Dank der Flexibilität von Neos konnten wir es auch als “headless” einsetzen und so eine zentrale Flottenverwaltung implementieren. Die Flotten-Daten können so mit dem eCommerce-System über eine HTTP-JSON Schnittstelle ausgetauscht werden.

      </TextImage>
      <TextImage imageTitle="Title" imageAlt="alt" imageSrc="use-cases/mountain-flyers/screenshot_team_4.jpg">
        Für die komplette Abwicklung des Bestellprozesses wurde ebenfalls die Payment-Lösung “Payrexx” mit der Sylius eCommerce-Plattform integriert.
      </TextImage>
    </div>
  </section>
  <PosterFull imageSrc="/assets/use-cases/mountain-flyers/poster_mobile_5.jpg" imageAlt="alt" imageTitle="title" />
  <GlobalContact label="Ich habe ein ähnliches Bedürfnis!" />
  <SectionTitle title="weitere Projekte" />
  <ProjectTeaser title="Bank Thalwil" lead="Interne WebApp und Dashboard für Immobiliensuche" videoSrc="/assets/videos/bank_thalwil_slow.mp4" posterSrc="/assets/use-cases/bank-thalwil/animation_poster.jpg" detailLink="/projekte/bank-thalwil" />
  <ProjectTeaser title="R4 Raumwelten" lead="Responsive Website für Interior Design Studio" videoSrc="/assets/videos/r-4_slow.mp4" posterSrc="/assets/use-cases/r4-raumwelten/animation_poster.jpg"  detailLink="/projekte/r4-raumwelten"/>
  <LogoBoard />
</BaseLayout>
