---
const { author } = Astro.props;
---

<blockquote>
  <p><slot /></p>
  <em> — { author }</em>
</blockquote>

<style lang="scss">
  @import '../../../styles/variables';

  blockquote {
    color: rgba(0, 0, 0, .35);
    border-color: rgba(0, 0, 0, .25);
    padding: 5px 20px;
    margin: 15px 0 30px;
    border-left: 5px solid #eee;
  }
  blockquote p {
    margin-bottom: 0;
  }
  em {
    font-size: 0.9em;
  }

  /* Darkmode */
  body.darkmode blockquote {
    color: $text-color-darkmode;
  }
</style>
