---
  import ImageDefault from '../../../components/content/global/global-image-twicpics-default.astro';

  const { title, label, imageSrc, detailLink } = Astro.props;
---

<article class="blog-teaser-box">
  <a href={ detailLink } data-cursor-text="zum Beitrag" aria-label="zum Beitrag">
    <div class="blog-teaser-box-image m-0 p-0 mb-4">
      <ImageDefault imageSrc={ imageSrc } alt={ title } />
    </div>
  </a>
  <label><a href={ detailLink }>{ label }</a></label>
  <h3 class="m-0"><a href={ detailLink }>{ title }</a></h3>
</article>

<style lang="scss">
  @import '../../../styles/variables';

  article.blog-teaser-box {
    -webkit-transition: all 0.4s cubic-bezier(.6, 0, .4, 1);
    -moz-transition: all 0.4s cubic-bezier(.6, 0, .4, 1);
    -ms-transition: all 0.4s cubic-bezier(.6, 0, .4, 1);
    -o-transition: all 0.4s cubic-bezier(.6, 0, .4, 1);
    transition: all 0.4s cubic-bezier(.6, 0, .4, 1);

    div.blog-teaser-box-image {
      width: 100%;
      height: 22rem;
      overflow: hidden;
      transition: all 0.4s cubic-bezier(.6, 0, .4, 1);
    }

    div.blog-teaser-box-image :global(img) {
      display: block;
      object-fit: cover;
      transition: $fancy-transition;
    }

    label {
      position: relative;
      transition: all 0.4s cubic-bezier(.6, 0, .4, 1);
    }

    label a,
    label a:hover {
      color: $text-color-hover;
      text-decoration: none;
      border-bottom: 0;
    }

    h3 {
      min-height: 4.5em;
      display: block;
      position: relative;
      transition: all 0.4s cubic-bezier(.6, 0, .4, 1);
    }

    h3 a,
    h3 a:hover {
      color: $text-color;
      text-decoration: none;
      border-bottom: 0;
    }
  }

  article:hover {
    cursor: pointer;
  }


  /* Darkmode */
  body.darkmode {
    article.blog-teaser-box h3 a,
    article.blog-teaser-box h3 a:hover {
      color: $text-color-darkmode  !important;
      text-decoration: none;
      border-bottom: 0;
    }
    article.blog-teaser-box label a,
    article.blog-teaser-box label a:hover {
      color: $text-color-hover;
      text-decoration: none;
      border-bottom: 0;
    }
  }


  @media (min-width: 576px) {
    article.blog-teaser-box {
      height: 100%;
    }
  }

  @media (min-width: 768px) {
    article.blog-teaser-box:hover {
      div.blog-teaser-box-image {
        transform: translateY(-1rem);
        transition: all 0.5s cubic-bezier(.6, 0, .4, 1);

        :global(img) {
          transform: scale(1.05);
        }
      }

      label {
        transform: translateY(-.75rem);
        transition: all 0.4s cubic-bezier(.6, 0, .4, 1) .1s;
      }

      h3 {
        transform: translateY(-.5rem);
        transition: all 0.3s cubic-bezier(.6, 0, .4, 1) .2s;
      }
    }

  }

  @media (min-width: 992px) {}

  @media (min-width: 1200px) {
    article.blog-teaser-box div.blog-teaser-box-image {
      height: 17rem;
  }
  }

  @media (min-width: 1400px) {}
</style>
