---
import BaseLayout from '../../layouts/base.astro';
import Seo from '../../components/content/seo.astro'
import AppConfig from '../../components/config.js'
import PageTitleSubpage from '../../components/content/page-title/page-title-subpage.astro';
import PosterMedium from '../../components/content/poster/poster-medium.astro';
import Text from '../../components/content/global/global-text.astro';
import ServiceTechnologies from '../../components/content/service/service-technologies.astro';
import SectionTitle from '../../components/content/section-title/section-title.astro';
import ServiceKeywords from '../../components/content/service/service-keywords.astro';
import Lead from '../../components/content/global/global-lead.astro';
import GlobalContact from '../../components/content/global/global-contact.astro'
import ProjectTeaser from '../../components/content/project/project-teaser.astro';
---
<BaseLayout>
  <Seo slot="seo" pageTitle="SEO">
    <meta
      content="Was nützt die schönste Website, wenn diese nicht gefunden wird? Mittels moderner SEO-Analyse verhelfen wir Ihnen zu mehr Sichtbarkeit und Reichweite."
      name="description">
    <meta content="SEO,SEA,Suchmaschinenoptimierung,Google Analytics,Sreach Console,Suchresultate,Platzierung" name="keywords">
    <meta content="summary" name="twitter:card">
    <meta content="Technisches SEO" name="twitter:title">
    <meta
      content="Was nützt die schönste Website, wenn diese nicht gefunden wird? Mittels moderner SEO-Analyse verhelfen wir Ihnen zu mehr Sichtbarkeit und Reichweite."
      name="twitter:description">
    <meta content={ new URL(Astro.url.pathname, Astro.site) } name="twitter:url">
    <meta
      content={ AppConfig.siteBaseUrl + '/assets/services/websites-e-commerce.jpg' }
      name="twitter:image">
    <meta content="website" property="og:type">
    <meta content="Technisches SEO" property="og:title">
    <meta content="Technisches SEO" property="og:site_name">
    <meta content="de" property="og:locale">
    <meta
      content="Was nützt die schönste Website, wenn diese nicht gefunden wird? Mittels moderner SEO-Analyse verhelfen wir Ihnen zu mehr Sichtbarkeit und Reichweite."
      property="og:description">
    <meta content={ new URL(Astro.url.pathname, Astro.site) } property="og:url">
    <meta
      content={ AppConfig.siteBaseUrl + '/assets/services/websites-e-commerce.jpg' }
      property="og:image">
  </Seo>
  <PageTitleSubpage title="Technisches SEO" breadcrumbTitle="Services" breadcrumbUrl="/services"/>
  <section class="pb-5">
    <div class="container-xxl">
      <Lead content="Was nützt die schönste Website oder der ansprechendste Onlineshop, wenn diese nicht gefunden werden?" />
      <Text>
        <p>Deshalb legen wir bei der Entwicklung grossen Wert darauf, dass die technische Suchmaschinenoptimierung (SEO) nicht zu kurz kommt und Ihre Seiten und sämtliche Komponenten auch in Suchmaschinen indexiert werden.</p>
        <p>Wir verknüpfen zudem alle nötige Tools wie Google Analytics und Google Search Console etc. um eine nachhaltige Optimierung und Platzierung zu gewährleisten. </p>
        <p>Bei bestehenden Websites können wir gerne mittels eigener SEO-Analyse technische Optimierungen und mögliche Anpassungen an der Seitenstruktur vorschlagen, damit Ihre Website besser gefunden wird.</p>
      </Text>
    </div>
</BaseLayout>
