---
import BaseLayout from '../../layouts/base.astro';
import PageTitle from '../../components/content/page-title/page-title.astro';
import ContactMap from '../../components/content/contact/contact-map.astro';
import ContactForm from '../../components/content/contact/contact-form.astro';
import Seo from '../../components/content/seo.astro'
import AppConfig from '../../components/config.js'
---
<BaseLayout>
  <Seo slot="seo" pageTitle="Kontakt">
    <meta
      content="Bereit, etwas Grossartiges auf die Beine zu stellen? Wir sind es und freuen uns über Anrufe genau so wie auch E-Mails und natürlich Postkarten."
      name="description">
    <meta content="kontakt,thun,anfrage,offerte,formular" name="keywords">
    <meta content="summary" name="twitter:card">
    <meta content="Kontakt" name="twitter:title">
    <meta
      content="Bereit, etwas Grossartiges auf die Beine zu stellen? Wir sind es und freuen uns über Anrufe genau so wie auch E-Mails und natürlich Postkarten."
      name="twitter:description">
    <meta content={ new URL(Astro.url.pathname, Astro.site) } name="twitter:url">
    <meta
      content={ AppConfig.siteBaseUrl + '/assets/logo/comvation_logo_social_media_square.jpg' }
      name="twitter:image">
    <meta content="website" property="og:type">
    <meta content="Kontakt" property="og:title">
    <meta content="Kontakt" property="og:site_name">
    <meta content="de" property="og:locale">
    <meta
      content="Bereit, etwas Grossartiges auf die Beine zu stellen? Wir sind es und freuen uns über Anrufe genau so wie auch E-Mails und natürlich Postkarten."
      property="og:description">
    <meta content={ new URL(Astro.url.pathname, Astro.site) } property="og:url">
    <meta
      content={ AppConfig.siteBaseUrl + '/assets/logo/comvation_logo_social_media_landscape.jpg' }
      property="og:image">
  </Seo>
  <PageTitle title="Let's get in touch" />
  <section class="pb-5">
    <div class="container-xxl">
      <ContactForm />
      <ContactMap googleSrc="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2733.2657263235615!2d7.629592016382789!3d46.75965847913753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478fb2daefa8fd4b%3A0x2648a6fe5a4dea51!2sComvation%20AG!5e0!3m2!1sde!2sch!4v1651470605952!5m2!1sde!2sch">
        <h2>Comvation AG</h2>
        <p class="lead-text">Burgstrasse 6<br />3600 Thun</p>
        <p><a href="tel:0041332266000">+41 33 226 60 00</a><br /><a href="mailto:info@comvation.com">info@comvation.com</a></p>
        <p><a href="/kontakt/oeffnungszeiten">Öffnungszeiten & Feiertage</a></p>
      </ContactMap>
    </div>
  </section>
</BaseLayout>
