---
const {title} = Astro.props;
---

<section class="py-5 my-5 service-steps"  data-cursor="-inverse">
  <div class="container-xxl">
    <div class="row">
      <div class="col-12 col-sm-10 col-md-8 my-4">
        <h2 class="m-0">{ title }</h2>
      </div>
      <div class="col-12 pb-4">
        <slot />
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  @import '../../../styles/variables';

  .service-steps {
    background-color: $text-color;
    color: $text-color-darkmode;
    font-size: 1.2em;
  }

  /* Darkmode */
  body.darkmode .service-steps  {
    background-color: rgba(0,0,0,0.1) !important;
  }
</style>

