---
---

<section class="py-5 my-5 service-switch"  data-cursor="-inverse">
  <div class="container-xxl">
    <div class="row">
      <div class="col-12 col-sm-10 col-md-8 my-4">
          <h2 class="m-0">Weitere Services</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-4 pb-4"><a href="/services/website-online-shop/">Website & Online Shops</a></div>
      <div class="col-6 col-md-4 pb-4"><a href="/services/web-mobile-apps/">Web- & Mobile Apps</a></div>
      <div class="col-6 col-md-4 pb-4"><a href="/services/schnittstellen-api/">Schnittstellen</a></div>
      <div class="col-6 col-md-4 pb-4"><a href="/services/ux-ui-design/">UX- & UI-Design</a></div>
      <div class="col-6 col-md-4 pb-4"><a href="/services/konzept-beratung/">Konzept & Beratung</a></div>
      <div class="col-6 col-md-4 pb-4"><a href="/services/support-wartung/">Support & Wartung</a></div>
    </div>
  </div>
</section>

<style lang="scss">
  @import '../../../styles/variables';

  .service-switch {
    background-color: $text-color;
    color: $text-color-darkmode;
    font-size: 1.2em;
  }

  /* Darkmode */
  body.darkmode .service-switch  {
    background-color: rgba(0,0,0,0.1) !important;
  }
</style>

