<footer class="mt-6">
  <div class="container-xxl py-6">
    <div class="row scroll-reveal">
      <div class="col-12 pb-4">
        <p class="lead-text m-0">Bereit durchzustarten?</p>
      </div>
      <div class="col-12 pb-5">
         <p class="visit-text">
           Besuchen Sie uns auf ein <span class="emoji">&nbsp;</span><br />
           <a href="/kontakt">
             Jetzt Kontakt aufnehmen
             <span class="line">
               <svg width="601" height="12" viewBox="0 0 601 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path d="M0.386444 6.14669H200.386C219.913 6.14669 220.813 9.94462 240.339 9.94462C259.866 9.94462 276.339 10.5204 295.286 4.34667C314.233 -1.82709 329.965 7.72527 348.273 9.94462C366.582 12.164 380.86 6.14669 400.386 6.14669H600.386" stroke="black" stroke-width="3"/>
               </svg>
             </span>
           </a>
         </p>
      </div>
      <div class="col-6 col-sm-6 col-md-12 col-xl-6 pt-5">
        <ul class="p-0 m-0 d-flex flex-column flex-md-row justify-content-start align-items-start">
          <li class="pe-4"><a href="https://www.comvation.com">&copy;&nbsp;Comvation</a></li>
          <li class="pe-4"><a href="/impressum" >Impressum</a></li>
          <li class="pe-4"><a href="/datenschutz">Datenschutz</a></li>
          <li class="pe-4"><a href="/agb">AGB</a></li>
        </ul>
      </div>
      <div class="col-6 col-sm-6 col-md-12 col-xl-6 pt-5">
        <ul class="p-0 m-0 d-flex flex-column flex-md-row justify-content-start align-items-start justify-content-end align-items-end">
          <li class="ps-sm-4"><a href="https://www.linkedin.com/company/comvation-ag/mycompany/" target="_blank">LinkedIn</a></li>
          <li class="ps-sm-4"><a href="https://www.facebook.com/comvation/" target="_blank">Facebook</a></li>
          <li class="ps-sm-4"><a href="https://www.instagram.com/comvationag/" target="_blank">Instagram</a></li>
          <li class="ps-sm-4"><a href="https://twitter.com/ComvationAG" target="_blank">Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<style lang="scss">
  @import "../../../styles/variables";

  footer {
	  transition: filter $basic-transition;
    background-color: #1C1F23;
    color: #ffffff;
  }

  footer .visit-text {
    font-size: 3.1rem;
    line-height: 1.5em;
    font-weight: 700;
  }

  footer a {
    display: inline;
    text-decoration: none;
    color: rgba(255,255,255,1);
    transition: $basic-transition;

  }

  footer .visit-text a {
    position: relative;
    transition: $basic-transition;
    &:hover {
      .line {
        svg {
          left: 0;
          path {
            stroke: $text-color-darkmode;
          }
        }
      }
     }
    .line {
      position: absolute;
      bottom: -1.8rem;
      left: 0;
      width: 100%;
      height: 3rem;
      overflow: hidden;
      svg {
        width: 300%;
        height: auto;
        position: absolute;
        top: 0;
        left: -200%;
        transition: 1s cubic-bezier(.4, 0, .6, 1);
        path {
          stroke: #fff;
          transition: $basic-transition;
          vector-effect: non-scaling-stroke;
        }
      }
    }
  }

  footer a:hover {
    color: $text-color-darkmode;
  }

  footer .visit-text a:hover {
    border-color: $text-color-darkmode;
  }

  footer .visit-text .emoji {
    font-size: 1.3em;
	  -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    position: relative;
    width: 1.3em;
  }

  footer .visit-text .emoji:before {
    display: block;
    position: absolute;
    top: 0.05em;
    left: 0.1em;
    content: "☕";
    animation: switch 3s infinite 1s;
  }

  @keyframes switch {
    0%   {content: "☕";}
    20%  {content: "🍧";}
    40%  {content: "🍺";}
    60%  {content: "🌯";}
    80%  {content: "🎮";}
    100% {content: "☕";}
  }

/*
  footer .visit-text:hover .emoji {
    transform: scale(1.3) rotate(15deg);
  }
*/

  footer ul {
    list-style: none;
  }


  /* Darkmode */
  body.darkmode footer {
    background-color: rgba(0,0,0,0.1) !important;
  }
</style>


